In [1]:
import pandas as pd
import numpy as np

In [51]:
D = 2000

In [52]:
train = pd.read_csv("data/train_sep.csv", encoding="utf-8")
try:
    del train["Unnamed: 0"]
except:
    pass

In [53]:
total = "\t".join(train["news"]).split("\t")
total_table = pd.Series(total).value_counts()

In [54]:
top_w = total_table[:D].index

In [55]:
vec = []
for i in range(train.shape[0]):
    d = pd.Series(train["news"][i].split("\t"))
    dc = d.value_counts()
    v = dc[top_w]
    v = np.array(v)
    v = np.nan_to_num(v)
    vec.append(v)

In [56]:
vs = pd.Series(vec)

In [57]:
train["vec"] = vs

In [58]:
x = np.array(vec)
y = np.array(train["category"], dtype = np.int)

In [10]:
from sklearn import tree

In [11]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x[1000:], y[1000:])

In [12]:
g = clf.predict(x[:1000])

In [13]:
np.sum(g == y[:1000])/float(len(g))

0.55000000000000004

In [14]:
from sklearn import svm

In [46]:
clf2 = svm.SVC()
clf2 = clf2.fit(x[1000:], y[1000:])

In [47]:
g2 = clf2.predict(x[:1000])

In [48]:
np.sum(g2 == y[:1000])/float(len(g2))

0.67800000000000005

In [19]:
from sklearn.neighbors import KNeighborsClassifier

In [20]:
clf3 = KNeighborsClassifier()
clf3 = clf3.fit(x[1000:], y[1000:])

In [21]:
g3 = clf3.predict(x[:1000])

In [22]:
np.sum(g3 == y[:1000])/float(len(g3))

0.50800000000000001

In [60]:
test = pd.read_csv("data/test_sep.csv", encoding="utf-8")
try:
    del test["Unnamed: 0"]
except:
    pass

In [61]:
vec_test = []
for i in range(test.shape[0]):
    d = pd.Series(test["news"][i].split("\t"))
    dc = d.value_counts()
    v = dc[top_w]
    v = np.array(v)
    v = np.nan_to_num(v)
    vec_test.append(v)

In [62]:
x_test = np.array(vec_test)

In [63]:
x_test.shape

(1000L, 2000L)

In [59]:
best_clf = svm.SVC()
besr_clf = best_clf.fit(x, y)

In [64]:
g_test = besr_clf.predict(x_test)

In [65]:
out = pd.DataFrame()

In [66]:
out["id"] = test["id"]

In [67]:
out["cagegory"] = pd.Series(g_test)

In [71]:
out.to_csv("sample_fin.csv", index=False)

In [72]:
g2 = besr_clf.predict(x[:1000])
np.sum(g2 == y[:1000])/float(len(g2))

0.77500000000000002

In [73]:
out

        id  cagegory
0    10001         3
1    10002         6
2    10003         8
3    10004         6
4    10005         6
5    10006         7
6    10007         2
7    10008        10
8    10009         2
9    10010        10
10   10011         9
11   10012         9
12   10013         2
13   10014         4
14   10015         1
15   10016         5
16   10017         1
17   10018         5
18   10019         8
19   10020         6
20   10021         4
21   10022         5
22   10023         7
23   10024         6
24   10025         7
25   10026         7
26   10027        10
27   10028         3
28   10029         4
29   10030         9
..     ...       ...
970  10971        10
971  10972         9
972  10973         5
973  10974         4
974  10975         2
975  10976         3
976  10977        10
977  10978         7
978  10979         3
979  10980        10
980  10981         3
981  10982         9
982  10983        10
983  10984         8
984  10985         3
985  10986         7
986  10987        10
987  10988         6
988  10989         6
989  10990         5
990  10991         4
991  10992         9
992  10993         6
993  10994         6
994  10995         9
995  10996         2
996  10997        10
997  10998         4
998  10999         3
999  11000         6

[1000 rows x 2 columns]